{% extends 'base.html' %}

{% block title %} License Expired {% endblock %}

{% block content %}
{% load static %}
<div class="page page-center">
    <div class="container container-tight py-4">
      <div class="text-center mb-4">
        <a href="." class="navbar-brand navbar-brand-autodark">
          {% if company_settings.company_logo %}
            <img src="{{ company_settings.company_logo.url }}" height="36" alt="">
          {% else %}
            <img src="{% static 'logo.png' %}" height="36" alt="">
          {% endif %}
        </a>
      </div>
      <div class="card card-md">
        <div class="card-body">
          <h2 class="h2 text-center mb-4">License Expired</h2>
          <div class="text-center text-muted mt-3">
            Your license has been expired please contact your software provider.
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}