{% load socialaccount %}
{% load static %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}

            <div class="col">
                <a title="{{brand.name}}" href="{% provider_login_url provider.id openid=brand.openid_url process=process %}" class="btn w-100">
                {{brand.name}}
                </a>
            </div>

        {% endfor %}
    {% endif %}

    <div class="col">
        <a title="{{provider.name}}" class="btn w-100 socialaccount_provider {{provider.id}}" 
            href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        <img 
        src="
        {% with 'brands/'|add:provider.name|add:'.svg' as image %}
        {% static image %}
        {% endwith %}
        " alt="{{ provider.name }}" height="50" width="300"/>
            {{provider.name}}
        </a>
    </div>

{% endfor %}
