
{% extends 'base.html' %}

{% block title %} {{ model_name|capfirst }} List {% endblock %}

{% block content %}
{% load active_tags %}
{% load static %}

  <div class="page">
    
    {% include 'include/layout.html' %}

    <div class="page-wrapper">
      <!-- Page body -->
      
      <div class="page-body">
        <div class="container-xl">
          <div class="card">
            {% include 'include/flash_message.html' %} <!--  flash message -->
            <div class="card-body">

              <nav aria-label="breadcrumb" class="breadcrumb d-flex justify-content-end margin_bottom_33">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ model_name|capfirst }}</li>
                </ol>
              </nav>

              <div class="row">
                <div class="col-md-12" style="padding-bottom: 10px;">

                  {% if request.user.is_superuser or request.user.userrole.role|is_allowed_manager %}
                      <a href="{% url 'add' model_name columns %}" class="btn btn-primary margin_bottom_33">Add New</a>
                  {% endif %}

                  {% if company_settings.company_import_option %}
                      <a href="{% url 'import_csv' app_name model_name %}" class="btn btn-secondary margin_bottom_33">Import Data</a>
                  {% endif %}

                  {% if company_settings.company_delete_all %}
                      <a class="btn btn-info margin_bottom_33">
                        <img src="{% static 'icon/svg/checkbox.svg' %}" alt="#" width="24" height="24" style="padding-right: 5px;"/>
                        <input type="checkbox" id="check-all"> <span style="padding-left: 5px;">Check All</span>
                      </a>
                      <button class="btn btn-danger margin_bottom_33" data-bs-toggle="modal" data-bs-target="#deleteModalMulti" >Delete Selected</button>
                  {% endif %}

                  </div>
              </div>
              
              <div id="table-default" class="table-responsive">
                <table id="dataTable1" class="table table-hover">
                  
                  {% if company_settings.company_datatable_column_visiable %}
                    <input type="hidden" id="colvis" value="1">
                  {% endif %}
                  {% if company_settings.company_datatable_csv %}
                    <input type="hidden" id="csv" value="1">
                  {% endif %}
                  {% if company_settings.company_datatable_copy %}
                    <input type="hidden" id="copy" value="1">
                  {% endif %}
                  {% if company_settings.company_datatable_excel %}
                    <input type="hidden" id="excel" value="1">
                  {% endif %}
                  {% if company_settings.company_datatable_pdf %}
                    <input type="hidden" id="pdf" value="1">
                  {% endif %}
                  {% if company_settings.company_datatable_print %}
                    <input type="hidden" id="printall" value="1">
                  {% endif %}
                  {% if company_settings.company_datatable_print_selected %}
                    <input type="hidden" id="printselected" value="1">
                  {% endif %}
                  
                  
                  <thead>
                    <tr>
                      <th class="sl_no">SL</th>
                      <th>Title</th>
                      <th>Subtitle</th>
                      <th>Image</th>
                      {% if request.user.is_superuser or request.user.userrole.role|is_allowed_manager %}
                        <th>Action</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tbody class="table-tbody">
                    {% for generic in slider_list %}
                      <tr>
                          <td class="sl_no">{{ forloop.counter }}. </td>
                          <td>
                            {% if company_settings.company_delete_all %}
                              <input type="checkbox" name="selected_rows" value="{{ generic.pk }}" class="checkbox"> 
                            {% endif %}
                            {{ generic.title }}
                          </td>
                          <td>{{ generic.subtitle }}</td>
                          <td>
                            {% if generic.image %}
                              <img src="{{ generic.image.url }}" alt="Slider Image" width="120" height="80">
                            {% endif %}
                          </td>
                          
                          {% if request.user.is_superuser or request.user.userrole.role|is_allowed_manager %}
                            <td>
                              
                                  <a href="{% url 'change' generic.pk app_name model_name columns %}" class="btn btn-info margin_bottom_33" data-toggle="tooltip" title="Edit">
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                                  </a>

                                <button class="btn btn-danger margin_bottom_33" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="{% url 'delete' generic.pk app_name model_name %}"  data-toggle="tooltip" title="Delete">
                                  <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                                </button>
                              
                            </td>
                          {% endif %}
                      </tr>
                    {% endfor %}
  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- modal start -->
      {% include 'include/delete_modal_multi.html' %}
      {% include 'include/delete_modal.html' %}
      <!-- modal end -->
      <!--  footer start  -->
      {% include 'include/footer.html' %}
      <!--  footer end -->
    </div>
  </div>
  <script src="{% static 'dist/js/custom_datatable.js' %}" defer></script>
  <script src="{% static 'dist/js/modal_delete_action.js' %}" defer></script>
  <script src="{% static 'dist/js/modal_delete_multi_action.js' %}" defer></script>
  <script src="{% static 'dist/js/checked_all.js' %}" defer></script>

{% endblock %}
