{% extends 'base.html' %}

{% block title %} Reset your Password {% endblock %}

{% block content %}
{% load static %}
    <div class="page page-center">
        <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark">
                {% if company_settings.company_logo %}
                  <img src="{{ company_settings.company_logo.url }}" height="36" alt="">
                {% else %}
                  <img src="{% static 'logo.png' %}" height="36" alt="">
                {% endif %}
            </a>
        </div>
        <form class="card card-md"  method="post">
            {% csrf_token %}
            <div class="card-body">
            <h2 class="card-title text-center mb-4">Forgot password</h2>
            <p class="text-muted mb-4">Enter your email address and your password will be reset and emailed to you.</p>
            {% if password_form.email.errors %}
              <li class="invalid-feedback" style="display: block;">{{ password_form.email.errors }}</li>
            {% endif %}
            <div class="mb-3">
                <label class="form-label">Email address</label>
                {{ password_form.email }}
            </div>
            <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">
                    <img src="{% static 'icon/svg/mail.svg' %}" alt="#" class="icon" width="24" height="24"/>
                </button>
            </div>
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            Forget it, <a href="{% url 'login' %}">send me back</a> to the sign in screen.
        </div>
        </div>
    </div>
{% endblock %}