{% extends 'base.html' %}

{% block title %} Reset your Password {% endblock %}

{% block content %}
{% load static %}
    <div class="page page-center">
        <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark">
                {% if company_settings.company_logo %}
                  <img src="{{ company_settings.company_logo.url }}" height="36" alt="">
                {% else %}
                  <img src="{% static 'logo.png' %}" height="36" alt="">
                {% endif %}
            </a>
        </div>
        <div class="text-center text-muted mt-3">
            <h1>Reset your password</h1>
            <div class="alert alert-info">
                An mail with instructions to reset password has been sent to the email you provided.
            </div>
            Forget it, <a href="{% url 'login' %}">send me back</a> to the sign in screen.
        </div>
        </div>
    </div>
{% endblock %}