{% extends 'base.html' %}

{% block title %} Password reset {% endblock %}

{% block content %}
{% load static %}
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <a href="." class="navbar-brand navbar-brand-autodark">
                    {% if company_settings.company_logo %}
                      <img src="{{ company_settings.company_logo.url }}" height="36" alt="">
                    {% else %}
                      <img src="{% static 'logo.png' %}" height="36" alt="">
                    {% endif %}
                </a>
            </div>
            <div class="text-center text-muted mt-3">
                <h1>Password set</h1>
                <p>Your password has been set. You can <a href="{% url 'login' %}">log in
                now</a></p>
            </div>
        </div>
    </div>
{% endblock %}