{% extends 'base.html' %}

{% block title %} Reset your Password {% endblock %}

{% block content %}
{% load static %}
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <a href="." class="navbar-brand navbar-brand-autodark">
                    {% if company_settings.company_logo %}
                      <img src="{{ company_settings.company_logo.url }}" height="36" alt="">
                    {% else %}
                      <img src="{% static 'logo.png' %}" height="36" alt="">
                    {% endif %}
                </a>
            </div>
            <div class="text-center text-muted mt-3">
                <h1>Reset your password</h1>
                {% if validlink %}
                    <p>Please enter your new password twice:</p>
                    <form method="post">
                        <label class="form-label">New Password</label>
                        {% if form.new_password1.errors %}
                            <li class="invalid-feedback" style="display: block;">{{ form.new_password1.errors }}</li>
                        {% endif %}
                        {{ form.new_password1 }}
                        <br>
                        <label class="form-label">New password confirmation</label>
                        {% if form.new_password2.errors %}
                            <li class="invalid-feedback" style="display: block;">{{ form.new_password2.errors }}</li>
                        {% endif %}
                        {{ form.new_password2 }}
                        <br><br>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Change my password</button>
                    </form>
                {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}