
{% extends 'base.html' %}

{% block title %} {{ model_name|capfirst }} List {% endblock %}

{% block content %}

{% load static %}

  <div class="page">
    
    {% include 'include/layout.html' %}

    <div class="page-wrapper">
      <!-- Page body -->
      
      <div class="page-body">
        <div class="container-xl">
          <div class="card">
            {% include 'include/flash_message.html' %} <!--  flash message -->
            <div class="card-body">

              <nav aria-label="breadcrumb" class="breadcrumb d-flex justify-content-end margin_bottom_33">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">{{ model_name|capfirst }}</li>
                </ol>
              </nav>

              <div class="row">
                <div class="col-md-12" style="padding-bottom: 10px;">

                    {% if request.user.is_staff %}
                      <a href="{% url 'add' model_name columns %}" class="btn btn-primary margin_bottom_33">Add New</a>
                    {% else %}
                      {% with app_name|add:'.add_'|add:model_name as permission_name %}
                        {% if permission_name in perms %}
                          <a href="{% url 'add' model_name columns %}" class="btn btn-primary margin_bottom_33">Add New</a>
                        {% endif %}
                      {% endwith %}
                    {% endif %}

                    {% if company_settings.company_import_option %}
                        <a href="{% url 'import_csv' app_name model_name %}" class="btn btn-secondary margin_bottom_33">Import Data</a>
                    {% endif %}

                    
                    {% if company_settings.company_datatable_pdf or company_settings.company_datatable_csv or company_settings.company_delete_all %}
                      <button type="button" class="btn dropdown-toggle btn-info margin_bottom_33" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Extra Action
                      </button>
                    {% endif %}

                    <div class="dropdown-menu">

                      {% if company_settings.company_datatable_pdf %}
                        <a class="dropdown-item" href="{% url 'export_pdf' app_name model_name  %}" target="_blank">
                          <img src="{% static 'icon/svg/pdf.svg' %}" alt="#" width="24" height="24" style="padding-right: 5px;"/> Export PDF
                        </a>
                      {% endif %}
                      {% if company_settings.company_datatable_csv %}
                        <a class="dropdown-item" href="{% url 'export_csv' app_name model_name  %}">
                          <img src="{% static 'icon/svg/csv.svg' %}" alt="#" width="24" height="24" style="padding-right: 5px;"/> Export CSV
                        </a>
                      {% endif %}
                      {% if company_settings.company_delete_all %}
                        <a class="dropdown-item">
                          <img src="{% static 'icon/svg/checkbox.svg' %}" alt="#" width="24" height="24" style="padding-right: 5px;"/>
                          <input type="checkbox" id="check-all"> <span style="padding-left: 5px;">Check All</span>
                        </a>
                        <a class="dropdown-item">
                          <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModalMulti" >Delete Selected Record</button>
                        </a>
                      {% endif %}

                    </div>
                  </div>
              </div>

              <div id="table-default" class="table-responsive">
                <table id="dataTable1" class="table table-hover">
                  
                  
                  {% if company_settings.company_datatable_column_visiable %}
                    <input type="hidden" id="colvis" value="1">
                  {% endif %}
                  {% if company_settings.company_datatable_csv %}
                    <input type="hidden" id="csv" value="1">
                  {% endif %}
                  {% if company_settings.company_datatable_copy %}
                    <input type="hidden" id="copy" value="1">
                  {% endif %}
                  {% if company_settings.company_datatable_excel %}
                    <input type="hidden" id="excel" value="1">
                  {% endif %}
                  {% if company_settings.company_datatable_pdf %}
                    <input type="hidden" id="pdf" value="1">
                  {% endif %}
                  {% if company_settings.company_datatable_print %}
                    <input type="hidden" id="printall" value="1">
                  {% endif %}
                  {% if company_settings.company_datatable_print_selected %}
                    <input type="hidden" id="printselected" value="1">
                  {% endif %}

                  <thead>
                    <tr>
                      <th class="sl_no">SL</th>
                      <th>User</th>
                      <th>Active Status</th>
                      {% if request.user.is_superuser %}
                        <th>Admin Status</th>
                      {% endif %}
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody class="table-tbody">
                    {% for user in users %}
                      <tr>
                          <td class="sl_no">{{ forloop.counter }}</td>
                          <td>
                            {% if company_settings.company_delete_all %}
                              <input type="checkbox" name="selected_rows" value="{{ user.pk }}" class="checkbox"> 
                            {% endif %}
                            {{ user.username }} 
                          </td>
                          <td>
                            <label class="form-check form-switch"  id="user_active_status" data-toggle-url="{% url 'user_active_status' %}">
                              <input class="form-check-input" type="checkbox" name="is_active" {% if user.is_active %} checked {% endif %}  onClick='toggleUserActiveStatus("{{ user.pk }}")'> 
                            </label>
                          </td>
                          
                          {% if request.user.is_superuser %}
                            <td>
                              <label class="form-check form-switch"  id="user_admin_status" data-toggle-url="{% url 'user_admin_status' %}">
                                <input class="form-check-input" type="checkbox" name="is_staff" {% if user.is_staff %} checked {% endif %}  onClick='toggleUserAdminStatus("{{ user.pk }}")'> 
                              </label>
                            </td>
                          {% endif %}

                          <td>
                            
                            {% if request.user.is_superuser %}
                              {% if request.user.id != user.id %}
                                <a href="{% url 'impersonate_user' user.id %}" class="btn btn-primary margin_bottom_33" data-toggle="tooltip" title="Impersonate"> 
                                  <img src="{% static 'icon/svg/user-switch.svg' %}" alt="#"  width="24" height="24"/>
                                </a>
                              {% endif %}
                            {% endif %}

                            {% if request.user.is_superuser or request.user.is_staff %}
                                <a href="{% url 'profile_pdf' user.id %}" class="btn btn-secondary margin_bottom_33" data-toggle="tooltip" title="Download/Print" target="_blank"> 
                                  <img src="{% static 'icon/svg/printer.svg' %}" alt="#"  width="24" height="24"/>
                                </a>
                            {% endif %}

                            {% if request.user.is_staff %}
                            <a href="{% url 'change' user.pk app_name model_name columns %}" class="btn btn-info margin_bottom_33" data-toggle="tooltip" title="Edit">
                              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                            </a>
                            {% else %}
                              {% with app_name|add:'.change_'|add:model_name as permission_name %}
                                {% if permission_name in perms %}
                                  <a href="{% url 'change' user.pk app_name model_name columns %}" class="btn btn-info margin_bottom_33" data-toggle="tooltip" title="Edit">
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                                  </a>
                                {% endif %}
                              {% endwith %}
                            {% endif %}

                            {% if request.user.is_staff %}
                            <button class="btn btn-danger margin_bottom_33" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="{% url 'delete' user.pk app_name model_name %}"  data-toggle="tooltip" title="Delete">
                              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                            </button>
                            {% else %}
                              {% with app_name|add:'.delete_'|add:model_name as permission_name %}
                                {% if permission_name in perms %}
                                  <button class="btn btn-danger margin_bottom_33" data-bs-toggle="modal" data-bs-target="#deleteModal" data-url="{% url 'delete' user.pk app_name model_name %}"  data-toggle="tooltip" title="Delete">
                                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7l16 0" /><path d="M10 11l0 6" /><path d="M14 11l0 6" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /></svg>
                                  </button>
                                {% endif %}
                              {% endwith %}
                            {% endif %}

                            
                            
                          </td>
                      </tr>
                    {% endfor %}
  
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- modal start -->
      {% include 'include/delete_modal_multi.html' %}
      {% include 'include/delete_modal.html' %}
      <!-- modal end -->
      <!--  footer start  -->
      {% include 'include/footer.html' %}
      <!--  footer end -->
    </div>
  </div>
  <script src="{% static 'dist/js/user_active_status_update.js' %}" defer></script>
  <script src="{% static 'dist/js/user_admin_status_update.js' %}" defer></script>
  <script src="{% static 'dist/js/custom_datatable.js' %}" defer></script>
  <script src="{% static 'dist/js/modal_delete_action.js' %}" defer></script>
  <script src="{% static 'dist/js/modal_delete_multi_action.js' %}" defer></script>
  <script src="{% static 'dist/js/checked_all.js' %}" defer></script>

{% endblock %}
